<section class="form-auth"> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    <%= render "users/shared/error_messages", resource: resource %>

    </div><div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, class: "form-control", placholder: "First Name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placholder: "Email" %>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placholder: "Password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placholder: "Password Confirmation" %>
    </div>

    <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
  <% end %>

  <%= render "users/shared/links" %>
</section>

